{% extends "base.html" %}
{% load static %}

{% block script %}

    {{ block.super }}
<script src="{%static 'js/main.js' %}">
</script>
{% endblock %}
{% block body %}
    {% include 'navbar.html' %}
<main id="main">
<div id="bodybox">
    <script src="{%static 'assets/js/new.js' %}">
</script>
    <div id='chatborder'>
    <p id="chatlog7" class="chatlog">&nbsp;</p>
    <p id="chatlog6" class="chatlog">&nbsp;</p>
    <p id="chatlog5" class="chatlog">&nbsp;</p>
    <p id="chatlog4" class="chatlog">&nbsp;</p>
    <p id="chatlog3" class="chatlog">&nbsp;</p>
    <p id="chatlog2" class="chatlog">&nbsp;</p>
    <p id="chatlog1" class="chatlog">&nbsp;</p>
    <input type="text" name="chat" id="chatbox" placeholder="text" onfocus="placeHolder()">
  </div>
</div>
</main>
{% include "footer.html" %}
{% endblock%}