{% extends "base.html" %}
{% load static %}

{% block script %}

    {{ block.super }}
<script src="{%static 'js/main.js' %}">
</script>
{% endblock %}
{% block body %}
    {% include 'navbar.html' %}
<main id="main">
<div id="bodybox">
    <link href="{%static 'assets/css/new.css' %}" rel="stylesheet" type="text/css">
    <link href="{%static 'assets/css/want.css' %}" rel="stylesheet" type="text/css">
    <div id="msg_list_bx">
        <div class="megs">
            <div class="mesgs">
                <div class="msg_history" id="msg_list_bx_real">
                </div>
            </div>
        </div>

    </div>
    <div class="input_msg_write">
        <input type="text" name="chat" id="chatbox" placeholder="text"><!--onfocus="placeHolder()" 작동안돼고 지랄이냐씨발-->
    </div>
</div>
</div>
    <script src="{%static 'assets/js/new.js' %}">
    </script>

</main>
{% include "footer.html" %}
{% endblock%}