{% extends "base.html" %}
{% load static %}

{% block script %}

    {{ block.super }}

{% endblock %}
{% block body %}
    {% include 'navbar.html' %}
<main id="main">
<div id="bodybox">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="{%static 'assets/css/new.css' %}" rel="stylesheet" type="text/css">
    <div id="msg_list_bx">
            <div class="mesgs">
                <div class="msg_history" id="msg_list_bx_real">
<!--                    {% if rsChat %}-->
<!--                    {% for i in rsChat %}-->
<!--                    <div class="outgoing_msg">-->
<!--                        <div class="sent_msg">-->
<!--                            <p>{{ i.usr_msg }}</p>-->
<!--                            <span class="time_date">{{ i.time }}</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="incoming_msg">-->
<!--                        <div class="received_msg">-->
<!--                            <div class="received_withd_msg">-->
<!--                                <p>{{ i.usr_msg }}</p>-->
<!--                                <span class="time_date">{{ i.time }}</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                    {% endif %}-->
                </div>
            </div>
    </div>

    <div name="test_insert">
            <div class="type_msg">
            <div class="input_msg_write">
                <table>
                    <tr>
                         <td><canvas class="visualizer" width="15" height="45"></canvas></td>
                         <td width="60"><a href="#"><button class="some_btn"><img src="{%static 'assets/img/voice_icon.png' %}" width=88%></button></a></td>
                         <td width="700" align="center"><input name="note" class="write_msg" type="text" id="chatbox" placeholder="메세지 입력"></td>
                         <td width="60" align="center"><button class="msg_send_btn" type="button"><img src="{%static 'assets/img/send_icon.png' %}" width=102%></button></td>

                    </tr>
                </table>
            </div>
            </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

     <!-- for stt browser compatibility.  -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/opus-media-recorder@0.8.0/OpusMediaRecorder.umd.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/opus-media-recorder@0.8.0/encoderWorker.umd.js"></script>
    <script src="{%static 'assets/js/sub.js' %}"></script>
</div>
</main>
{% include "footer.html" %}
{% endblock%}