{% load static %}
<header id="header" class="fixed-top header-transparent" style="background: black;" >
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="/"><span>TG-Chatbot</span></a></h1>
      </div>

      <nav class="nav-menu float-right d-none d-lg-block" style="background: black;">
        <ul>
          <li class="active"><a href="/">Home</a></li>
       
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
