{% load static %}
<header id="header" class="fixed-top header-transparent" style="background: black;" >
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="/"><span>TG-Chatbot</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block" style="background: black;">
        <ul>
          <li class="active"><a href="/">Home</a></li>
        <!--  <li><a href="about.html">About Us</a></li>
          <li><a href="services.html">How to use</a></li>
          <li><a href="team.html">Team</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  </ul>
              </li>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 2</a></li>
            </ul>
          </li>-->
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->